* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-logo {
  font-family: Alata, sans-serif;
  font-weight: 400;
}

.font-body {
  font-family: DM Sans ss02, sans-serif;
}

.font-heading {
  font-family: PP Woodland, sans-serif;
}

@font-face {
  font-family: 'PP Woodland';
  src: url('assets/fonts/ppwoodland-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/ppwoodland-regular-webfont.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'PP Woodland';
  src: url('assets/fonts/ppwoodland-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/ppwoodland-bold-webfont.woff') format('woff');
  font-weight: bold;
}
 
@font-face {
  font-family: 'DM Sans ss02';
  src: url('assets/fonts/dmsans-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/dmsans-regular-webfont.woff') format('woff');
  font-weight: normal;
} 

@font-face {
  font-family: 'DM Sans ss02';
  src: url('assets/fonts/dmsans-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/dmsans-bold-webfont.woff') format('woff');
  font-weight: bold;
}
 
.h-2px {
  height: 2px;
}

.main-bar-scroll {
    max-height: 500px; /* Adjust based on your item height to show only ten items */
    overflow-y: auto;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
    scroll-snap-type: y mandatory; /* Enable snapping */
}

.main-bar-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
}

.main-bar-scroll button {
    scroll-snap-align: start; /* Ensure each button snaps to the start of the scroll container */
}

.settings-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 12em;
}

.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform .4s, opacity .4s;
}

.icon.sun {
  left: 9px;
}

.icon.moon {
  right: 9px;
  opacity: 1;
}

input:checked + .slider .icon.sun {
  transform: translateY(-50%);
  opacity: 0;
}

input:checked + .slider .icon.moon {
  transform: translateY(-50%);
  opacity: 1;
}

.slider .icon.sun {
  opacity: 1;
}

.slider .icon.moon {
  opacity: 0;
}

.icon.lang {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform .4s, opacity .4s;
}

.icon.lang:first-child {
  left: 8px;
  opacity: 1;
}

.icon.lang:last-child {
  right: 8px;
  opacity: 0;
}

input:checked + .slider .icon.lang:first-child {
  opacity: 0;
}

input:checked + .slider .icon.lang:last-child {
  opacity: 1;
}

.ios-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #006E6E;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.ios-button:hover {
  background-color: #004C4C;
}

body.dark-mode .ios-button {
  background-color: #004C4C;
}

body.dark-mode .ios-button:hover {
  background-color: #002C2C;
}

.video-background {
  background: black;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe,
.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.current-video-title {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.additional-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.content-rating {
  display: inline-flex;
  align-items: center;
  padding: 0 0.5em;
  border-radius: 4px;
  font-weight: bold;
  border: 1px solid;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150%;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; width: 100%; left: auto; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; height: 100%; top: auto; }
}
@media all and (max-width: 600px) {
  .vid-info { width: 50%; padding: .5rem; }
  .vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
  .vid-info .acronym { display: none; }
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  transition-duration: 1.2s;
}

body.light-mode {
  background-color: #fafafa!important;
  color: #000000;
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  transition-duration: 1.2s;
}

body.dark-mode .bottom-bar {
  background-color: #121212;
  color: #ffffff;
}

body.light-mode .bottom-bar {
  background-color: #fafafa;
  color: #000000;
}

body.dark-mode .bg-gray-100 {
  background: #121212;
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  transition-duration: 1.2s;
}

body.light-mode .bg-gray-100 {
  background: #fafafa;
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  transition-duration: 1.2s;
}
